body {
  background-color: #919297;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.game-section {
  width: 100%;
}

.history-section {
  flex: 1;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: row;
  overflow: auto;
  background-color: #F3F4F9;
  margin: 10px;
  border-radius: 10px;
}

.history {
  width: 100%;
  height: min-content;
  overflow: auto;
  margin: 10px;
  text-align: center;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1;
}

.button {
  width: 250px;
  height: 56px;
  font-size: large;
  font-weight: 700;
  background-color: #F3F4F9;
  cursor: pointer;
  border: none;
}

.button:active {
  color: #FFF;
  background-color: #75767B;
}

#dice {
  width: 140px;
  height: 140px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  background-image: linear-gradient(#DEDFE4, #919297, #393A3F);
}
